h1 {
    color: crimson;
    margin: 20px;
}
body {
    background-image: url(minecraft_background.jpeg);
    background-size: 100%;
}
div.section {
    background-color: crimson;
    color: white;
    padding: 20px 100px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    font-size: 11pt;
}
#links a {
    text-decoration: none;
    color: yellow;
    margin: 20px;
}
#links a:hover {
    color: blueviolet;
}